
 <div class="login-container">
  <form class="login-form" action="/register" method="POST">
    <h2>Sign Up</h2>
    <div class="roles">
  <label for="role">Select Role</label>
  <div class="">
    <input type="radio" id="roleUser" name="role" value="user" checked />
    <label for="roleUser">User</label>

    <input type="radio" id="roleAdmin" name="role" value="admin" />
    <label for="roleAdmin">Admin</label>
  </div>
</div>
    <div class="input-group">
      <label for="name">Full Name</label>
      <input type="text" id="name" name="name" required />
    </div>

    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required />
    </div>

    <div class="input-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" required />
    </div>

    <button type="submit">Create Account</button>
    <p class="signup-text">Already have an account? <a href="/login">Login</a></p>
  </form>
</div>
