* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.action-icons {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.links a {
    text-decoration: none;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
}
header {
    border-bottom: 4px solid black;
}
.banner {
    width: 100%;
    height: 304px;
    background-color: rgb(255,32,40);
    display: flex;
    align-items: flex-start ;
    flex-direction: column;
    justify-content: flex-start;
}
.banner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    width: 100%;
    padding: 32px;
    line-height: 48px;
}
.banner div a {
    color: rgb(255, 255, 235);
    text-decoration: none;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-family: sans-serif;
}
#offer-link {
    color:rgba(0, 0, 0, 0.88);
}
.sizes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 32px;
    column-gap: 32px;
    line-height: 24px;
}
.sizes h3 {
    color: rgb(0,0,0);
    font-size: 48px;
    font-family: sans-serif;
    position: relative;
    letter-spacing: 1.2px;
    text-decoration: underline;
    text-decoration-color: rgb(255, 32, 40);
}
.sizes a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 48px;
    letter-spacing: 1.2px;
    font-weight: 500;
}
.app-footer {
    display: flex;
    flex-direction:column ;
    background-color: rgb(27,62,69);
    margin-top: 32px;
    font-family: Athletics, sans-serif;
}
.website-info {
    display: flex;
    padding: 48px 56px;
}
.website-info div {
    color: rgb(255,255,255);
    padding-right: 12px;
    line-height: 24px;
    width: 25%;
}
.website-info div h4 {
    border-bottom: 2px solid rgb(229, 231, 235);
    border-spacing: 8px;
}
.website-info div ul {
    list-style: none;
    line-height: 24px;
    padding-bottom: 24px;
    padding-top: 12px;
    text-align: left;
}
.website-info div ul li a {
    color: rgb(255,255,255);
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 56px;
}
.social-logos {
    display: flex;
    color: rgb(255,255,255);
    align-items: center;
}
.social-logos h5 {
    margin-right: 32px ;
    font-size: 20px;
    font-weight: 700;
}
.social-logos div a {
    padding: 2px;
}
.contact-info img {
    width: 32px;
}
.website-logo {
    width: 960px;
    margin-left: 15px;
    display: flex;
    justify-self: center;
}
.footer-logo p {
    position: relative;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    left: 66.6%;
    font-size: 16px;
    font-weight: 400;
    color:rgb(255,255,255);
}
.sale-categories {
    display: flex;
    width: 100%;
}
.sale-cards {
    width: 25%;
}
.sale-cards a img{
    width: 100%;
}
.content-divider {
    padding: 1rem 1rem;
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.content-divider svg {
    color: rgb(255, 32, 40);
}
.two-tiles {
    display: flex;
}
.tile {
    width: 50%;
}
.tile img {
    object-fit: cover;
    width: 100%;
}