* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.action-icons {
    display: flex;
    flex-direction: row;
    list-style: none;
}
.links a {
    text-decoration: none;
}