
<h2>Add Product</h2>
<form action="/admin/products/add" method="POST" enctype="multipart/form-data" class="container">
  <div class="mb-3">
    <label>Name</label><input name="name" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Price</label><input name="price" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Size</label><input name="size" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Department</label><input name="department" class="form-control" required>
  </div>
  <div class="mb-3">
    <label>Image</label><input type="file" name="image" class="form-control">
  </div>
  <button class="btn btn-primary">Add Product</button>
</form>
