
<div class="top-bar">
                <div class="links">
                    <a href="" class="gbp">GBP</a>
                    <a href="">SHOP FINDER</a>
                </div>
                <a href="/"><h1 class="logo">White Stuff</h1></a>
                <ul class="action-icons">
                    <% if(isAdmin) {%>
                        <li >
                        <a href="/admin/vehicles" >Admin Panel</a>
                        </li>
                    <% } %> <% if(!user) {%>

                        <li >
                        <a href="/login">Login</a>
                        </li>
                    <% }else { %>
                        <li>
                        <a href="/logout" >Logout</a>
                        </li>

                    <% } %>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/myAccount"><img src="/assets/user.png" alt="profile"></a></li>
                    <li><a href=""><img src="/assets/find.png" alt="search"></a></li>
                    <li><a href="/shop/cart"><img class="cart" src="/assets/shopping-bag.png" alt="Cart"></a></li>
                </ul>
            </div>
            <nav class="nav-bar">
                <ul>
                    <li><a href="/vehicles" id="sale">Vehicles</a></li>
                    <li><a href="/shop/?category=Sale" id="sale">SALE</a></li>
                    <li><a href="/shop/?category=Women">WOMEN</a></li>
                    <li><a href="/shop/?category=Men">MEN</a></li>
                    <li><a href="/shop/?category=Accessories">ACCESSORIES</a></li>
                    <li><a href="/shop/?category=Footwear">FOOTWEAR</a></li>
                    <li><a href="/shop/?category=Rewind'85" id="rewind">REWIND '85</a></li>
                    <li><a href="/shop/?category=Other+Stuff">OTHER STUFF</a></li>
                    <li><a href="/shop/?category=Sustainability">SUSTAINABILITY</a></li>
                </ul>
            </nav>
